<link rel="stylesheet" href="css/global.css">
<link rel="stylesheet" href="components/Alarm/Alarm.css">
<template id="alarm-component">
    <input id="time-input" type="time">
    <toggle-switch></toggle-switch>
    <!-- <button id="stop">Stop!!!</button> -->
    <details>
        <summary></summary>
        <div id="options">
            <label id="sound-input-label" for="sound-input">Alarm Sound</label>
            <input id="sound-input" name="sound" type="file" accept="audio/*">
            <input id="title-input" type="text" placeholder="Notification Title">
            <textarea id="body-input" placeholder="Notification Body"></textarea>
        </div>
    </details>
</template>