#switch {
  position: relative;
  top: 0.1rem;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

#checkbox { 
  opacity: 0;
  width: 0;
  height: 0;
}

#slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  transition: .4s;
  border-radius: var(--slider-radius);
}

#slider:before {
  position: absolute;
  content: "";
  width: var(--slider-size);
  height: var(--slider-size);
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

#checkbox:checked + #slider {
  background-color: #2196F3;
}

#checkbox:focus + #slider {
  box-shadow: 0 0 1px #2196F3;
}

#checkbox:checked + #slider:before {
  -webkit-transform: translateX(var(--switch-height));
  -ms-transform: translateX(var(--switch-height));
  transform: translateX(var(--switch-height));
}