<link id='alarm-page-style' rel="stylesheet" href="components/AlarmPage/AlarmPage.css">
<template id='alarm-page'>
    <main>
        <input id="time_input" type="time">
            <button id="confirm">Notify me!</button>
            <button id='stop'>Stop!!!</button>
        <details>
            <summary>Additional Options</summary>
            <div id="options">
            <input id="sound_input" name="sound" type="file" accept="audio/*">
            <input id="title_input" type="text" placeholder="Notification Title">
            <textarea id="body_input" placeholder="Notification Body"></textarea>
            </div>
        </details>
    </main>
    <footer>
        <add-button></add-button>
    </footer>
</template>