#timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 15rem;
    border: 0.5rem solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, p {
    font-size: 2rem;
    color: white;
}

input {
    width: 2.2rem;
    border: none;
    background: none;
    text-align: center;
    caret-color: transparent;
}

p {
    position: relative;
    top: -2%;
    user-select: none;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 10rem;
}

#timer-button {
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
}

.play {
    display: inline-block;
    box-sizing: border-box;
    width: 1.2rem;
    height: 1.2rem;
    border-width: 1.2rem 0rem 1.2rem 1.2rem;
    border-color: transparent transparent transparent black;
    border-style: solid;
}

.stop {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: black;
}