<link rel="stylesheet" href="css/global.css">
<link id="" rel="stylesheet" href="components/TimerPage/TimerPage.css">
<template id="timer-page">
    <main id="timer">
        <input id="hours" type="number" min="0" max="23" value="00">
        <p>:</p>
        <input id="minutes" type="number" min="0" max="59" value="00">
        <p>:</p>
        <input id="seconds" type="number" min="0" max="59" value="00">
    </main>
    <aside>
        <file-input id="sound-input">&#x266B;</file-input>
    </aside>
    <footer>
        <button id="timer-button"><span class="play"></span></button>
    </footer>
</template>