<link rel="stylesheet" href="css/global.css">
<link rel="stylesheet" href="components/Reminder/Reminder.css">
<template id="reminder-component">
    <input id="datetime-input" type="datetime-local">
    <toggle-switch></toggle-switch>
    <button id="delete-button">Delete</button>
    <details>
        <summary></summary>
        <div id="options">
            <file-input id="sound-input">Reminder Sound</file-input>
            <div>
                <span>Repeat every:</span>
                <input id="repeat-input" type="number" min="1" max="365">
                <select id="repeat-type-input">
                    <option value="minutes">minutes</option>
                    <option value="hours">hours</option>
                    <option value="days">days</option>
                    <option value="weeks">weeks</option>
                    <option value="months">months</option>
                    <option value="years">years</option>
                </select>
            </div>
            <input id="title-input" type="text" placeholder="Notification Title">
            <textarea id="body-input" placeholder="Notification Body"></textarea>
        </div>
    </details>
    <hr>
</template>