:root {
    --switch-width: 3rem;
    --switch-height: 1.5rem;
    --slider-size: 1rem;
    --slider-radius: 2rem;
  }

*:focus {
    /* outline for debugging purposes */
    /* outline: 2px solid #3167ca; */
    outline: none;
}