html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #202020;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: #404040;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header button {
  height: 2.5rem;
  float: left;
  border: 0;
  background-color: #404040;
  color: white;
}

header button:hover:not(.active) {
  background-color: #303030;
}

.active {
  background-color: #202020;
}

#page-view {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 2.5rem;
}

#page-view * {
  display: none;
}

#page-view .active-page {
  display: initial;
}