main {
    color: white;
    height: 100%;
    background-color: #202020;
    padding-bottom: 5rem;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0.2rem;
    pointer-events: none;
}

footer * {
    pointer-events: all;
}