html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#options {
  display: grid;
  gap: 0.3rem;
}

#title_input {
  display: block;
}

#body_input {
  display: block;
}