html, body {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 2.5rem auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#options {
  display: grid;
  gap: 0.3rem;
}

#title_input {
  display: block;
}

#body_input {
  display: block;
}

header {
  background-color: #404040;
}

header button {
  height: 2.5rem;
  float: left;
  border: 0;
  background-color: #404040;
  color: white;
}

header button:hover:not(.active) {
  background-color: #303030;
}

.active {
  background-color: #202020;
}

main {
  background-color: #202020;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}